{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Alterar Privilégio de Admin para {{ utilizador.nome }}</h2>
    <form method="post">
        {% csrf_token %}
        <p>Deseja tornar este utilizador
            {% if utilizador.admin %}
            Não Admin
            {% else %}
            Admin
            {% endif %}
            ?
        </p>
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <a href="{% url 'utilizadores' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>


<style>
    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: auto;
        text-align: center;
    }

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        text-decoration: none;
        background-color: #004d40;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #040404;
    }

    .btn-secondary {
        background-color: #f44336;
    }

    .btn:hover {
        opacity: 0.8;
    }
</style>
{% endblock %}